<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!--mapper에서 매칭할 parmeter Type 별칭 설정-->
	<typeAliases>
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.util.HashMap" alias="HashMap"/>
		<typeAlias type="java.lang.Integer" alias="int"/>
	</typeAliases>
	
	
</configuration>